.datec{
  border-radius: 10px;
  background-color: aliceblue;
  margin-bottom: 10px;
}

.datec small{
  display: block;
  text-align: center !important;
  padding: 5px;
  font-weight: bold;
}
.datec h1{
  display: block;
  text-align: center !important;
}
