<div class="container-fluid m-4">
  <div class="row">
    <div class="col-4">
      <div class="btn-group">
        <button (click)="GetPreviousMonth()" class="btn btn-primary">
          Previous
        </button>
        <button (click)="GetNextMonth()" class="btn btn-primary">
          Next
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h1 class=" text-center">{{monthYear}}</h1>
  <div class="row text-center" style="border: solid 1px grey;">
    <div class="col-12">
      <table class="w-100 table table-borderless">
        <thead style="border-bottom: solid 1px grey" >
        <tr>
          <th *ngFor="let days of AllDays">
            {{days.day}}
          </th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dates of weeks; let i = index">
            <ng-container *ngIf="dates.week !== null">
              <ng-container *ngFor="let date of dates.dates; let d = index" >
                <ng-container *ngIf="date === null" >
                  <td>
                  </td>
                </ng-container>
                <ng-container *ngIf="date !== null" >
                  <td (click)="onCalendarChange(date, element)" class="datec" #element >
                    <div>
                      {{GetDate(date)}}
                    </div>
                  </td>
                </ng-container>
              </ng-container>
            </ng-container>
          </tr>
<!--          <tr *ngFor="let dates of weeks; let i = index">-->
<!--            <ng-container *ngIf="dates.week !== null">-->
<!--              <ng-container *ngFor="let date of dates.dates; let d = index" >-->
<!--                <ng-container *ngIf="date === null" >-->
<!--                  <td>-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                <ng-container *ngIf="date !== null" >-->
<!--                  <td (click)="onCalendarChange(date, element)" class="datec" #element *ngIf="GetDay(d)  === 'MON'" >-->
<!--                    <div>-->
<!--                      {{GetDate(date)}}-->
<!--                    </div>-->
<!--                  </td>-->
<!--                  <td (click)="onCalendarChange(date, element)" class="datec" #element *ngIf="GetDay(d) === 'TUES'" >-->
<!--                    <div>-->
<!--                      {{GetDate(date)}}-->
<!--                    </div>-->
<!--                  </td>-->
<!--                  <td (click)="onCalendarChange(date, element)" class="datec" #element *ngIf="GetDay(d)  === 'WED'" >-->
<!--                    <div>-->
<!--                      {{GetDate(date)}}-->
<!--                    </div>-->
<!--                  </td>-->
<!--                  <td (click)="onCalendarChange(date, element)" class="datec" #element *ngIf="GetDay(d) ==='THURS'" >-->
<!--                    <div>-->
<!--                      {{GetDate(date)}}-->
<!--                    </div>-->
<!--                  </td>-->
<!--                  <td (click)="onCalendarChange(date, element)" class="datec" #element *ngIf="GetDay(d) ==='FRI'" >-->
<!--                    <div>-->
<!--                      {{GetDate(date)}}-->
<!--                    </div>-->
<!--                  </td>-->
<!--                  <td (click)="onCalendarChange(date, element)" class="datec" #element *ngIf="GetDay(d) ==='SAT'" >-->
<!--                    <div>-->
<!--                      {{GetDate(date)}}-->
<!--                    </div>-->
<!--                  </td>-->
<!--                  <td (click)="onCalendarChange(date, element)" class="datec" #element *ngIf="GetDay(d)  === 'SUN'"  >-->
<!--                    <div>-->
<!--                      {{GetDate(date)}}-->
<!--                    </div>-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--              </ng-container>-->
<!--            </ng-container>-->
<!--          </tr>-->
        <!-- <tr *ngFor="let dates of AllDates; let i = index">
         <ng-container *ngFor="let date of dates">
           <td>
             <div *ngIf="GetDay(date) === 'SUNDAY'">
               <small>{{GetMonth(date)}}</small>
               <h1>{{GetDate(date)}}</h1>
               <small>{{GetDay(date)}}</small>
             </div>
           </td>
           <td>
             <div *ngIf="GetDay(date) === 'MONDAY'">
               <small>{{GetMonth(date)}}</small>
               <h1>{{GetDate(date)}}</h1>
               <small>{{GetDay(date)}}</small>
             </div>
           </td>
           <td>
             <div *ngIf="GetDay(date) === 'TUESDAY'">
               <small>{{GetMonth(date)}}</small>
               <h1>{{GetDate(date)}}</h1>
               <small>{{GetDay(date)}}</small>
             </div>
           </td>
           <td>
             <div *ngIf="GetDay(date) === 'WEDNESDAY'">
               <small>{{GetMonth(date)}}</small>
               <h1>{{GetDate(date)}}</h1>
               <small>{{GetDay(date)}}</small>
             </div>
           </td>
           <td>
             <div *ngIf="GetDay(date) === 'THURSDAY'">
               <small>{{GetMonth(date)}}</small>
               <h1>{{GetDate(date)}}</h1>
               <small>{{GetDay(date)}}</small>
             </div>
           </td>
           <td>
             <div *ngIf="GetDay(date) === 'FRIDAY'">
               <small>{{GetMonth(date)}}</small>
               <h1>{{GetDate(date)}}</h1>
               <small>{{GetDay(date)}}</small>
             </div>
           </td>
           <td>
             <div *ngIf="GetDay(date) === 'SATURDAY'">
               <small>{{GetMonth(date)}}</small>
               <h1>{{GetDate(date)}}</h1>
               <small>{{GetDay(date)}}</small>
             </div>
           </td>
         </ng-container>
        </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
